<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AI Chatbot</title>
    <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
    {% load static %}
    {% load i18n %}
    <link rel="stylesheet" href="{% static 'multilang_site/CSS/styles.css' %}">
</head>
<body>

    <header class="header">
        <a href="{% url 'accueil' %}" class="header_logo">Multilang</a>
        <nav class="header_nav">
            <ul>
                <li>
                    <a href="{% url 'accueil' %}">{% trans "Accueil" %}</a>
                </li>
            </ul>
        </nav>
    </header>

    <div id="container">
        <div id="chatbox">
            {% for message in messages %}
            <div>User: {{ message.user_message }}</div>
            <div>Bot: {{ message.bot_message }}</div>
            {% endfor %}
        </div>

        <form hx-post="{% url 'chat_view' %}" hx-target="#container" hx-swap="innerHTML" >
            {% csrf_token %}
            <div></div>
            <div>
                <input type="text" name="message">
                <button class ="btn" type="submit">
                    Envoyer
                </button>
            </div>
        </form>
    </div>
</body>
</html>
